<div class="container-fluid">
  <hr>
  <center>
  <p>
    Ignacio &copy; 2014-2015
  </p><p>
    <%= link_to "Advertisers", static_pages_advertisers_path %> | <%= link_to "Company", static_pages_company_path %> | <%= link_to "Press Kit", static_pages_press_path %> | <%= link_to "Mission", static_pages_mission_path %> | <%= link_to "Jobs", static_pages_jobs_path %> | <%= link_to "Help", static_pages_help_path %>
  </p>
  </center>
</div>
<br><br>